.idea/
__pycache__/
venv/
DataUtils/medsam_vit_b.pth
.ipynb_checkpoints/
DataUtils/.ipynb_checkpoints/
Enumerators/.ipynb_checkpoints/
Networks/.ipynb_checkpoints/
TrainUtils/.ipynb_checkpoints/
TrainUtils/yolov8n.pt
TrainUtils/yolov8x.pt
TrainUtils/yolo26n.pt
TrainUtils/bicocca_weights.pt